.wrapper {
    padding: 15px;
    width: 100%;
    min-height: calc(100vh - 55px);
}

@media (min-width: 768px) {
  .wrapper {
    width: calc(100% - 250px);
    margin-left: 250px;
  }

  .wrapper.full {
    width: 100%;
    margin-left: 0;
  }
}
