.rdt_TableHead .rdt_TableHeadRow {
    background-color: #f3f2f7;
    border-color: #ebe9f1;
    border-top: 1px solid #ebe9f1;
    min-height: 0;
    height: 38px;
    letter-spacing: .5px;
    text-transform: uppercase;
}