.wrapper {
  padding: 15px;
  width: 100%;
  min-height: calc(100vh - 55px);
  background-color: #f9fafb;
  box-shadow: inset 0px 4px 15px -8px rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
  .wrapper {
    width: calc(100% - 250px);
    margin-left: 250px;
    border-top-left-radius: 20px;
    box-shadow: inset 4px 4px 10px -8px rgba(0,0,0,0.3);
  }

  .wrapper.full {
    width: 100%;
    margin-left: 0;
    border-top-left-radius: 0px;
  }
}
